<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.web.emp.EmpDAO">

<!-- 	<resultMap type="empVO" id="empResult">
		<id property="employeeId" column="EMPLOYEE_ID"/>
		<result property="firstName" column="FIRST_NAME"/>
		<result property="lastName" column="LAST_NAME"/>
		<result property="salary" column="SALARY"/>
		<result property="jobId" column="JOB_ID"/>
	</resultMap> -->
<!-- 	<resultMap type="map" id="empResult2">
		<id property="employeeId" column="EMPLOYEE_ID"/>
		<result property="firstName" column="FIRST_NAME"/>
		<result property="lastName" column="LAST_NAME"/>
		<result property="salary" column="SALARY"/>
		<result property="jobId" column="JOB_ID"/>
	</resultMap>  -->
	
	<!-- 전체 조회  -->
	<select id="getEmpList" resultType="map" parameterType="empVO">
		SELECT	EMPLOYEE_ID     as "employeeId",
				FIRST_NAME      as "firstName",
				LAST_NAME       as "lastName",
				SALARY          as "salary",
				(SELECT DEPARTMENT_NAME 
				   FROM HR.DEPARTMENTS DEPT
				  WHERE DEPT.DEPARTMENT_ID = EMP.DEPARTMENT_ID) 
				                as "deptName"
		  FROM  HR.EMPLOYEES EMP
		 <where>
		   <if test="departmentId != null and departmentId != ''"> 
		     EMP.DEPARTMENT_ID = #{departmentId}
		   </if>
		   <if test="firstName != null and firstName != ''">
		     AND  FIRST_NAME LIKE '%' || upper(#{firstName}) || '%'
		   </if> 
		 </where>
		 ORDER  BY EMPLOYEE_ID
	</select>
	
	<!-- 단건 조회  -->
	<select id="getEmp" resultType="empVO" parameterType="string">
		<![CDATA[
		SELECT	EMPLOYEE_ID,
				FIRST_NAME,
				LAST_NAME,
				SALARY,
				JOB_ID
		  FROM  HR.EMPLOYEES  
		 WHERE  EMPLOYEE_ID = #{id}
		 ]]>
	</select>

	<insert id="insertEmp" parameterType="empVO" >

		<selectKey keyProperty="employeeId" resultType="string"
		           order="BEFORE">	
			SELECT max(EMPLOYEE_ID)+1 FROM EMPLOYEES
		</selectKey>
		INSERT INTO HR.EMPLOYEES (
			EMPLOYEE_ID, 
			FIRST_NAME,
			LAST_NAME,
			EMAIL,
			HIRE_DATE,
			JOB_ID
			)
		VALUES (
			#{employeeId},
			#{firstName},
			#{lastName},
			#{email},
			#{hireDate},
			#{jobId}
			)
	</insert>
	
	<update id="updateEmp" parameterType="empVO" >
		UPDATE EMPLOYEES SET
			   FIRST_NAME = #{firstName},
			   LAST_NAME = #{lastName},
			   EMAIL = #{email},
			   JOB_ID = #{jobId}	
		 WHERE HR.EMPLOYEE_ID = #{employeeId}
	</update>
	
	<delete id="deleteEmp" parameterType="string" >
		DELETE EMPLOYEES
		 WHERE HR.EMPLOYEE_ID = #{id}
	</delete>
	
	<!-- 부서 다건 삭제  -->
	<delete id="deleteDeptList" >
		DELETE FROM HR.DEPARTMENTS
		 WHERE DEPARTMENT_ID IN 
		 <foreach collection="list" item="item" 
		          open="(" close=")" separator=",">
		    #{item}
		 </foreach>
	</delete>
</mapper>







